!bin
archive/vim.symlink/.netrwhist
archive/vim.symlink/bundle/
archive/vim.symlink/backup/
archive/vim.symlink/plugged/
archive/vim.symlink/undo/
archive/vim.symlink/viminfo
archive/nvim/.netrwhist
archive/nvim/bundle/
archive/nvim/backup/
archive/nvim/plugged/
archive/nvim/undo/
archive/nvim/viminfo
*.sw[nop]
.bundle
.env
tags
